In [24]:
import pandas as pd
import numpy as np
import h5py
import BoundaryLayerToolbox as blt
path2wrf = '/Volumes/BUFFALO_SOLDIER/datos_VC/'

In [25]:
file_24 = h5py.File(path2wrf +'01/jan_24.h5', 'r')
stations = pd.read_csv('../datos/Stations_Info.csv', index_col = 0)

xlat = np.loadtxt('../datos/xlat_d02_interpolado.txt')
xlong = np.loadtxt('../datos/xlong_d02_interpolado.txt')

In [45]:
xlat_st, xlong_st = stations.loc['CCA'][['Latitud', 'Longitud']]

In [46]:
vc_24 = np.array(file_24.get('vc_24h'))
pblh_24 = np.array(file_24.get('pblh_24h'))
u_mean_24 = np.array(file_24.get('u_mean_24h'))

In [47]:
xx , yy = blt.near_coord_loc(xlong, xlat, xlong_st, xlat_st)

In [50]:
i_shape= vc_24.shape

In [ ]:
stations.as

In [56]:
A = pd.DataFrame()

In [54]:
i_shape[0]*i_shape[1]

408

In [49]:
np.reshape(vc_24[:,:, xx, yy], i*j)

array([  70,   65,   44,   31,   46,   40,   19,   78,   14,   22,  483,
        716,  748, 1935, 2692, 3127, 3157, 2981, 3384,  523, 1619, 2804,
       2486,  999,  747,  447,  446,  217,  159,  106,  144,  172,  209,
        188,  411,  378,  686, 1146, 1498, 1582, 2214, 3048, 3500,  392,
        888, 1359,  431,  375,   19,  155,    7,   21,   73,    9,    7,
         23,   12,  110,   86,  262, 1326, 2124, 2582, 3324, 3458, 3693,
       3330, 1808, 2213,  393,   58,   81,  308,  244,  212,   15,   83,
        235,   78,  253,  121,  541,  612, 1150, 1628, 2933, 2997, 3020,
       3095, 4276, 4583, 3121, 2688, 1506, 1399,  946,  161,  136,  238,
        175,   54,   55,   50,  112,   97,  100,  286,  641, 1146, 2153,
       2388, 2872, 3128, 3121, 3348, 3173,   74,  134,  117,   69,  188,
        178,   34,   25,   27,    9,    7,   10,   15,  128,  231,  524,
       1690, 2470, 2351, 1767, 2381, 2397, 2627,  272,  440, 3275,  326,
        104,  554,   45,  134,  155,   42,   45,   23,    8,   15,   61,
        382,  764, 1497, 3126, 3857, 4191, 4820, 4606, 3414, 1561,  328,
        103,   82,  121,   36,   39,   21,   32,   19,   21,   14,   35,
         34,  155,  449, 1129, 2249, 3930, 5485, 4349, 3825, 5483, 2833,
       1133,  614,  155,   25,   47,   69,   54,   24,   13,   36,   50,
         33,   28,   27,   29,  248,  470,  983, 1783, 3150, 5044, 5024,
       4294, 2274, 1257,  304,   40,   23,   62,  467,  191,  216,  307,
        139,  103,   58,  121,  327,  379,  610,  489,  766, 1141, 1877,
       3024, 2710, 1496, 1024,  670, 1057,  784,  436,   61,  213,  247,
          8,   82,   71,   43,  210,   82,   12,   95,  172,  769, 1493,
       1167, 1494, 1729, 1199, 1662, 2608, 2069,  308,  172,  143,   49,
        832,  763,  874, 1209,   64,   31,   26,  222,  162,  487,  409,
        834, 1439, 1277, 1757, 2215, 2818, 3091, 3196, 1601, 3846, 2041,
        888,  401,  484,  301,  202,   97,   16,   11,  106,   27,   65,
         87,  323,  745, 1186, 2225, 2911, 4108, 4932, 5821, 6017, 4830,
       3869, 2051,  967,  580,  211,  153,   15,    9,   11,   64,   63,
         16,   11,  271,  600,  805, 1069, 1924, 2619, 3387, 3961, 4514,
       5402, 4918, 3038, 1407,  845,  631,  390,  147,   69,   43,   16,
         47,   29,   74,   22,   83,  295,  688, 1796, 3364, 3844, 4059,
       3678, 3899, 4080, 3493, 2693, 2324, 1583, 1421,  205,  364,  463,
        381,  299,  341,  537,  575,  509,  747,  658, 1019, 1286, 1480,
       2247, 2516, 2853, 3318, 3704, 5469, 2799, 1891, 1180,  636,  335,
        154,  161,   89,  143,  161,   61,   29,   41,  147,  541,  685,
        953, 1431, 3184, 5900, 5493, 3762, 3262,  789,  316,  140,   25,
         29])

408

In [34]:
vc_24[:,:, xx, yy]

array([[ 179,  136,   21,   73,   19,   18,   19,   21,   11,   47,  281,
         462,  268,  724, 1500, 2330, 2116, 2230, 2901, 2812, 5075, 2922,
        2311,  972],
       [ 797,  559,  502,  430,  500,  433,  547,  684,  450,  318,  293,
         385,  437,  527,  307, 1225, 1674, 2597, 2583, 1158, 2149, 1308,
        1091,  648],
       [ 664,  448,  102,   19,   27,   18,   25,   79,   31,   84,  189,
         456, 1651, 1995, 2133, 2679, 4415, 3939, 2676, 3100, 2156,  614,
         601,  402],
       [ 119,   18,   29,   15,   95,   34,   24,   64,  736, 1491, 1096,
        1447, 2182, 3120, 3001, 3445, 4310, 3922, 5850, 2867, 1895, 1658,
         962, 1045],
       [ 477,  330,  374,  273,  127,  143,   63,   58,   69,   56,  220,
         561, 1026, 1745, 1576, 2127, 2637, 2823, 4224, 5161, 2133, 2597,
         960,  169],
       [  13,   14,   30,   22,   13,   25,   28,   16,   11,  143,   76,
         269, 1257, 1919, 1627, 1530, 1742, 2550, 3771, 1208,  571, 1865,
         841,  752],
       [ 368,  177,   24,   31,   22,   24,   20,   14,   12,   31,  361,
         668, 1350, 2942, 3665, 4521, 5225, 4775, 4896, 3367, 1411,  440,
         142,  160],
       [  16,   13,    8,   16,   18,   62,   54,   22,   28,  167,  515,
         842, 2443, 4124, 5882, 6416, 6608, 5895, 5270, 2689, 1103,  479,
         244,   89],
       [  33,   27,   84,   17,   20,   41,   15,   67,   25,   23,  181,
         519,  753, 1129, 2724, 4714, 4951, 6459, 6438, 2556, 1372,  276,
         140,  113],
       [ 878,  467,  575,  620,  545,  344,  419,  490,  604,  642,  533,
         452,  608,  824, 1499, 2261, 2168, 2178, 1983, 1190, 1049, 1026,
         663,  620],
       [ 223,  386,   90,   60,   74,   88,  118,  188,  116,   78,  199,
         744, 1243,  819, 1200, 1894, 2218, 2986, 3065, 5764, 4168, 1950,
        1068,  560],
       [1532,  698,  819, 1421,  708,  508,  442,  392,  328,  442,  479,
         879, 1393, 1248, 1530, 1795, 2541, 2773, 3724, 5490, 3011, 2147,
        1060,  682],
       [ 682,  413,  269,  254,   38,  114,  136,   60,   48,   95,  300,
         675, 1321, 1961, 2681, 3783, 4832, 5285, 6861, 6104, 2161, 1691,
        1214, 1186],
       [1105,  667,  343,  366,  168,   53,   97,   58,   20,  324,  482,
         791, 1106, 1937, 2665, 3245, 3844, 4595, 5335, 5294, 3409, 1993,
        1187, 1079],
       [ 607,  461,  386,   61,   18,   39,   59,  104,   93,   94,  314,
         649, 1629, 3381, 3915, 3593, 3989, 4696, 4909, 4865, 2279, 2172,
        1689, 1474],
       [ 807,  816,  656,  387,  611,  624,  944,  816,  722,  834,  699,
         846, 1181, 1323, 2259, 2540, 2944, 3578, 6056, 6270, 3293, 1685,
        1172, 1137],
       [ 724,  354,  337,  323,  320,  266,  163,  126,  120,  202,  586,
         543,  600, 1143, 2198, 4534, 5707, 6853, 6122, 2758, 1417,  525,
         300,  408]])

In [17]:
lo, la = stations.loc['ACO'][['Longitud', 'Latitud']]

In [18]:
lo

-98.912003

In [19]:
la

19.635501

In [85]:
o3_2015 = pd.read_csv('../datos/contaminantes/2015/MER/MER_O3_2015.csv', names = ['date', 'station', 'pollutant', 'O3', 'units'])

In [86]:
o3_2015.index = pd.date_range('2015-01-01 01:00', '2016-01-01 00:00', freq='1H')

In [87]:
o3_2015 = o3_2015.reindex(pd.date_range('2015-01-01 00:00', '2015-12-31 23:00', freq='1H'))

In [98]:
o3_2015

                       O3
2015-01-01 00:00:00   NaN
2015-01-01 01:00:00   3.0
2015-01-01 02:00:00   2.0
2015-01-01 03:00:00   2.0
2015-01-01 04:00:00   NaN
2015-01-01 05:00:00   3.0
2015-01-01 06:00:00   3.0
2015-01-01 07:00:00   3.0
2015-01-01 08:00:00   4.0
2015-01-01 09:00:00   5.0
2015-01-01 10:00:00  13.0
2015-01-01 11:00:00  38.0
2015-01-01 12:00:00  64.0
2015-01-01 13:00:00  61.0
2015-01-01 14:00:00  54.0
2015-01-01 15:00:00  53.0
2015-01-01 16:00:00  45.0
2015-01-01 17:00:00  39.0
2015-01-01 18:00:00  29.0
2015-01-01 19:00:00  19.0
2015-01-01 20:00:00   7.0
2015-01-01 21:00:00   4.0
2015-01-01 22:00:00   3.0
2015-01-01 23:00:00   2.0
2015-01-02 00:00:00   2.0
2015-01-02 01:00:00   2.0
2015-01-02 02:00:00   2.0
2015-01-02 03:00:00   2.0
2015-01-02 04:00:00   2.0
2015-01-02 05:00:00   2.0
...                   ...
2015-12-30 18:00:00  47.0
2015-12-30 19:00:00  31.0
2015-12-30 20:00:00  15.0
2015-12-30 21:00:00  13.0
2015-12-30 22:00:00   2.0
2015-12-30 23:00:00   2.0
2015-12-31 00:00:00   1.0
2015-12-31 01:00:00   1.0
2015-12-31 02:00:00   1.0
2015-12-31 03:00:00   1.0
2015-12-31 04:00:00   1.0
2015-12-31 05:00:00   1.0
2015-12-31 06:00:00   1.0
2015-12-31 07:00:00   1.0
2015-12-31 08:00:00   1.0
2015-12-31 09:00:00   2.0
2015-12-31 10:00:00   6.0
2015-12-31 11:00:00  17.0
2015-12-31 12:00:00  30.0
2015-12-31 13:00:00  40.0
2015-12-31 14:00:00  68.0
2015-12-31 15:00:00  82.0
2015-12-31 16:00:00  82.0
2015-12-31 17:00:00  83.0
2015-12-31 18:00:00  51.0
2015-12-31 19:00:00  30.0
2015-12-31 20:00:00  18.0
2015-12-31 21:00:00  12.0
2015-12-31 22:00:00  13.0
2015-12-31 23:00:00  13.0

[8760 rows x 1 columns]

In [94]:
o3_2015 = o3_2015.drop(['date', 'station', 'pollutant', 'units'], axis = 1)

In [97]:
o3_2015.resample('2H').mean()

                       O3
2015-01-01 00:00:00   3.0
2015-01-01 02:00:00   2.0
2015-01-01 04:00:00   3.0
2015-01-01 06:00:00   3.0
2015-01-01 08:00:00   4.5
2015-01-01 10:00:00  25.5
2015-01-01 12:00:00  62.5
2015-01-01 14:00:00  53.5
2015-01-01 16:00:00  42.0
2015-01-01 18:00:00  24.0
2015-01-01 20:00:00   5.5
2015-01-01 22:00:00   2.5
2015-01-02 00:00:00   2.0
2015-01-02 02:00:00   2.0
2015-01-02 04:00:00   2.0
2015-01-02 06:00:00   2.0
2015-01-02 08:00:00   2.5
2015-01-02 10:00:00  14.5
2015-01-02 12:00:00  33.0
2015-01-02 14:00:00  37.0
2015-01-02 16:00:00  35.0
2015-01-02 18:00:00  22.5
2015-01-02 20:00:00   7.5
2015-01-02 22:00:00   3.5
2015-01-03 00:00:00   2.5
2015-01-03 02:00:00   3.0
2015-01-03 04:00:00   4.0
2015-01-03 06:00:00   2.5
2015-01-03 08:00:00   3.0
2015-01-03 10:00:00  15.0
...                   ...
2015-12-29 12:00:00  36.5
2015-12-29 14:00:00  43.0
2015-12-29 16:00:00  28.5
2015-12-29 18:00:00  14.5
2015-12-29 20:00:00  12.0
2015-12-29 22:00:00   2.5
2015-12-30 00:00:00   1.0
2015-12-30 02:00:00   NaN
2015-12-30 04:00:00   1.0
2015-12-30 06:00:00   1.0
2015-12-30 08:00:00   1.5
2015-12-30 10:00:00  13.5
2015-12-30 12:00:00  45.5
2015-12-30 14:00:00  69.5
2015-12-30 16:00:00  65.5
2015-12-30 18:00:00  39.0
2015-12-30 20:00:00  14.0
2015-12-30 22:00:00   2.0
2015-12-31 00:00:00   1.0
2015-12-31 02:00:00   1.0
2015-12-31 04:00:00   1.0
2015-12-31 06:00:00   1.0
2015-12-31 08:00:00   1.5
2015-12-31 10:00:00  11.5
2015-12-31 12:00:00  35.0
2015-12-31 14:00:00  75.0
2015-12-31 16:00:00  82.5
2015-12-31 18:00:00  40.5
2015-12-31 20:00:00  15.0
2015-12-31 22:00:00  13.0

[4380 rows x 1 columns]